<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>

<app-appbar></app-appbar>
<app-login *ngIf="this._sharedData.getSignInDisplayed() && !this._sharedData.getSignInState()"></app-login>

<app-welcome></app-welcome>
<app-images></app-images>
<star-rating-comp [starType]="'svg'" [rating]="2.63" ></star-rating-comp>
