<div class="appbar">
    <div class="barComponent" style="width:80px;">
            <img style="padding: 12px; float: left; width:100%;" src="assets/nasaicon.png">
    </div>
    
    <div class="barComponent">
        <div class="appbartitle">NASA Gallery</div>
    </div>

    <div class="barComponent" *ngIf="this._sharedData.getSignInState()">
        <nav class="grey" style="height: 40px; width: 300px; float: right;">
            <div class="nav-wrapper">
                <form>
                    <div class="input-field" style="height: 40px;">
                        <input id="search" type="search" required>
                        <label class="label-icon" style="margin-top: -10px;" for="search"><i class="material-icons">search</i></label>
                    </div>
                </form>
            </div>
        </nav>
    </div>


    <div class="barComponent">
        <button class="waves-effect waves-light btn-flat" style="float: right; padding-bottom: 5px;" *ngIf="!this._sharedData.getSignInState() && !this._sharedData.getSignInDisplayed()" type="submit" name="action" (click)="toggleSignIn()">Sign in</button>
    </div>
    <div class="barComponent">
        <button class="waves-effect waves-light btn-flat" style="float: right; padding-bottom: 5px;" *ngIf="this._sharedData.getSignInState()" type="submit" name="action" (click)="toggleSignInState()">Sign out</button>
    </div>
</div>    
