<div style="padding: 40px; padding-bottom:0px;">
    <div style="font-size:3em; color: black;">Public collections </div>
    
    <div *ngFor="let collection of currentPublicCollections" style="padding: 20px;">
        <a style="font-size:2em; color: black; text-decoration: underline; color: #325fc9; cursor: pointer;" (click)="openCollection(collection._id)">{{collection.name}}</a>
        <a style="font-size:2em; padding-left: 20px; color: grey;">{{collection.rating}} Stars</a>
        <a style="font-size:2em; color: #c9c9c9; float:right;">{{collection.length}} Images</a>
        <h6>{{collection.desc}}</h6>
        <h6>by {{collection.owner}}</h6>
        <div *ngIf="currentOpenCollection == collection._id">

            <button *ngIf="this._sharedData.getEmail() == collection.owner" class="btn-flat waves-effect waves-light" style="margin-top:5px; float:right; text-align:right; color: #fc3d21" type="submit" name="action" (click)="toggleEditing()">{{editButtonText}}</button>

            <div *ngIf="this._sharedData.getSignInState() && this._sharedData.getEmail() != collection.owner" class="paper container" style="width: 100%; margin-top: 10px; margin-bottom: 10px; padding:0px;">

                <div class="row" style="width:100%; ">
                    <div class="column" style="width:30%; padding-top: 20px; font-size:1em; text-align: center">Submit a rating:</div>

                    <div class="column" style="width:40%; margin-top:0px;">
                        <p class="range-field">
                            <input type="range" id="rating" min="1" max="5" #rating />
                        </p>
                    </div>

                    <div class="column" style="width:30%; padding: 0px; text-align: center; padding-top: 12px;">
                        <button class="waves-effect waves-light btn-flat" style="color: #fc3d21" type="submit" name="action" (click)="submitRating(rating.value, collection._id)">Submit rating</button>
                    </div>
                </div>

            </div>

            <div *ngIf="this._sharedData.getSignInState() && this._sharedData.getEmail() == collection.owner && this.editing || this._sharedData.getEmail() == 'root'" class="paper container" style="width: 100%; margin-top: 10px; margin-bottom: 10px; padding:0px;">
                
                <div class="row" style="width:100%; padding:40px; padding-top:0px;">
                    <input type="text" placeholder="Enter collection name (leave blank to not change)" name="nam" #nam required>
                    <textarea type="text" class="materialize-textarea" style="height:40px;" placeholder="Edit description (leave blank to not change)" name="desc" #desc required></textarea>
                    <div class="switch" style="text-align: center;">
                        <label>
                              Private
                              <input type="checkbox" (change)="toggleAccess()">
                              <span class="lever"></span>
                              Public
                        </label>
                        <button style="margin-left: 60px;" class="btn waves-effect waves-light blue darken-3" type="submit" name="action" (click)="submitCollectionEdit(collection._id, nam.value, desc.value)">SUBMIT EDIT</button>
                        <button style="margin-left: 100px;" class="btn waves-effect waves-light red accent-3" type="submit" name="action" (click)="submitCollectionDelete(collection._id)">DELETE COLLECTION</button>
                    </div>
                </div>
            
            </div>

            <div class="row" style="padding:0px; margin:0px; width: 100%; float:center;">
                <div style="height: auto; width: 100%; overflow: auto" align="center">
                    <div *ngFor="let image of collection.images" class="paper" style="display: inline-block; height: auto; width:auto; padding: 0px; margin: 10px;">

                        <div class="row">
                            <a target="_blank" href={{image}}>
                                <img src={{image}} class="materialboxed" style="height: auto;width: auto;max-width: 300px; max-height: 300px; padding:10px; padding-bottom: 5px; margin-bottom: -15px;">
                            </a>
                        </div>

                        <div class="row" style="padding: 0px; margin:0px; padding-bottom: 5px;" *ngIf="this._sharedData.getSignInState() && this._sharedData.getEmail() == collection.owner">
                            <button class="waves-effect waves-light btn-flat" style="color: #fc3d21; float: right;" (click)="removeImageFromCollection(collection._id, image)">Remove image from collection</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div *ngIf="this._sharedData.getSignInState()">
        <div style="font-size:3em; color: black;">My private collections</div>

        <div *ngFor="let collection of currentPrivateCollections" style="padding: 20px;">
            <a style="font-size:2em; color: black; text-decoration: underline; color: #325fc9; cursor: pointer;" (click)="openCollection(collection._id)">{{collection.name}}</a>
            <a style="font-size:2em; padding-left: 20px; color: grey;">{{collection.rating}} Stars</a>
            <a style="font-size:2em; color: #c9c9c9; float:right;">{{collection.length}} Images</a>
            <h6>{{collection.desc}}</h6>
            <h6>by {{collection.owner}}</h6>

            <div *ngIf="currentOpenCollection == collection._id">
                <button *ngIf="this._sharedData.getEmail() != 'root'"  class="btn-flat waves-effect waves-light" style="margin-top:5px; float:right; text-align:right; color: #fc3d21" type="submit" name="action" (click)="toggleEditing()">{{editButtonText}}</button>

                <div *ngIf="this._sharedData.getSignInState() && this.editing || this._sharedData.getEmail() == 'root'" class="paper container" style="width: 100%; margin-top: 10px; margin-bottom: 10px; padding:0px;">
                    <div class="row" style="width:100%; padding:40px; padding-top:0px;">
                        <input type="text" placeholder="Enter collection name (leave blank to not change)" name="nam" #nam required>
                        <textarea type="text" class="materialize-textarea" style="height:40px;" placeholder="Edit description (leave blank to not change)" name="desc" #desc required></textarea>
                        <div class="switch" style="text-align: center;">
                            <label>
                              Private
                              <input type="checkbox" (change)="toggleAccess()">
                              <span class="lever"></span>
                              Public
                        </label>
                            <button style="margin-left: 60px;" class="btn waves-effect waves-light blue darken-3" type="submit" name="action" (click)="submitCollectionEdit(collection._id, nam.value, desc.value)">SUBMIT EDIT</button>
                            <button style="margin-left: 100px;" class="btn waves-effect waves-light red accent-3" type="submit" name="action" (click)="submitCollectionDelete(collection._id)">DELETE COLLECTION</button>
                        </div>
                    </div>
                </div>


                <div class="row" style="padding:0px; margin:0px; width: 100%; float:center;">
                    <div style="height: auto; width: 100%; overflow: auto" align="center">
                        <div *ngFor="let image of collection.images" class="paper" style="display: inline-block; height: auto; width:auto; padding: 0px; margin: 10px;">

                            <div class="row">
                                <a target="_blank" href={{image}}>
                                <img src={{image}} class="materialboxed" style="height: auto;width: auto;max-width: 300px; max-height: 300px; padding:10px; padding-bottom: 0px; margin-bottom: -15px;">
                            </a>
                            </div>

                            <div class="row" style="padding: 0px; margin:0px;">
                                <button class="waves-effect waves-light btn-flat" style="color: #fc3d21; float: right;" (click)="removeImageFromCollection(collection._id, image)">Remove image from collection</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
